
<h1>Student Form</h1>
<%= form_tag students_path, method: :post do %>
  <%= text_field_tag(
      :first_name,
      params[:first_name],
      placeholder: "First Name",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :last_name,
      params[:last_name],
      placeholder: "Last Name",
      class: "form-control"
  ) %>
  <%= submit_tag "Submit Student" %>
<% end %>
